# Omnet files and folders
omnetpp-5.0/

# Veins files and folders, except Protocolos
!veins-4.4/

veins-4.4/*
!veins-4.4/examples/

!veins-4.4/src/

veins-4.4/src/*
!veins-4.4/src/veins/

veins-4.4/src/veins/*
!veins-4.4/src/veins/modules/

veins-4.4/src/veins/modules/*
!veins-4.4/src/veins/modules/application/

veins-4.4/src/veins/modules/application/*
!veins-4.4/src/veins/modules/application/Protocolos

!veins-4.4/src/veins/modules/messages/

veins-4.4/src/veins/modules/messages/*
!veins-4.4/src/veins/modules/messages/NodeInfoMessage.msg


# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
